html, body, #root {
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  font-family: 'Playfair Display', serif;
  background-color: #FFF;
}

/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #EAE3D2; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(86.24deg, #3949ab 3.76%, #673ab7 98.88%);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(86.24deg, #673ab7 3.76%, #8e24aa 98.88%);
}